body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.nav {
	background-color: #ccc;
	margin-top:0;
	padding-top: 0;
}

.nav a {
	text-decoration: none;
	list-style-type: none;
	color: #000;
}

.nav li {
	display: inline-block;
	float: right;
	padding: 15px;
	border: 1px dotted black; 
	margin-right: 10px;
	border-radius: 5px;
}

.nav li:hover {
	background-color: #f7941d;
}

.btn {
	color: white;
	text-decoration: none;
	font-size: 18px;
	background-color: #f7941d;
	padding: 1em 7em;
	border-radius: 5px;
	opacity: 1.0;
	position: absolute;
	top: 50%;
	left: 40%;
}

@media(max-width: 700) {
	.ham {
		display: none;
	}
}